.to-do-item {
    padding: 16px;
    /* background-color: #eee; */
    /* box-shadow: 0 0 8px 0 rgba(0,0,0,0.15); */
    box-shadow: 0 0 20px -6px rgb(12 7 141 / 22%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    order: 1;
}

.to-do-item:hover {
    /* background-color: rgb(250, 250, 250); */
    /* background-color: #f5f7fb; */
    box-shadow: none;
    box-shadow: 0 8px 50px -6px rgb(12 7 141 / 22%);
    z-index: 1;
}

.to-do-item p {
    margin: 0;
}

.to-do-item,
.to-do-item button {
    cursor: pointer;
}

.to-do-item button {
    border: none;
    background: none;
}

.to-do-item-status {
    display: flex;
    align-items: flex-start;
}

.to-do-item-status p {
    align-self: center;
    padding: 0 16px;
}

.to-do-item-status input {
    width: 24px;
    height: 24px;
    flex: 1 0 24px;
    margin: 0;
    border: 1px solid #eee;
}