.to-do-item {
    padding: 16px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
}

.to-do-item p {
    margin: 0;
}

.to-do-item,
.to-do-item button {
    cursor: pointer;
}

.to-do-item-status {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.to-do-item-status p {
    align-self: center;
}

.to-do-item-status input {
    width: 24px;
    height: 24px;
    flex: 1 0 24px;
    margin: 0;
}