.task-form {
    position: relative;
    display: flex;
    margin-bottom: 32px;
}

.task-form input {
    font-size: 18px;
    flex: 1 0 auto;
    border: 1px solid #777;
}

.task-form input[type='text'] {
    /* border-radius: 4px 0 0 4px; */
    /* border-right: 0; */
    padding: 16px 116px 16px 16px;
    display: block;
    border-radius: 12px;
    border: none;
    background-color: #f5f7fb;
}

.task-form input[type='submit'] {
    /* flex: 0 0 100px; */
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 32px; */
    height: 32px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: white;
    border: none;
    background-color: #6f6af9;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.task-form input[type='submit']:hover {
    background-color: #5955c9;
}